# Part 1: Data Preprocessing

In this section, we will perform basic data preprocessing tasks on the Hotel Booking Dataset. This includes:

- **Importing the dataset**: Loading the data into a pandas DataFrame.
- **Parsing the data**: Converting necessary columns (e.g., converting strings to integers or dates).
- **Organizing the data**: Ensuring that the data is clean and ready for further analysis, which includes checking for missing values and setting up appropriate data structures.

In [2]:
# Importing necessary libraries
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [5]:
# Loading the dataset
df = pd.read_csv("Hotel.csv")
df.head()

,ID,n_adults,n_children,weekend_nights,week_nights,meal_plan,car_parking_space,room_type,lead_time,year,month,date,market_segment,repeated_guest,previous_cancellations,previous_bookings_not_canceled,avg_room_price,special_requests,status
0,INN00001,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,Not_Canceled
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,Not_Canceled
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,Canceled
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,Canceled
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,Canceled

In [6]:
rows, columns = df.shape
print(f"The dataset contains {rows} rows and {columns} columns.")

The dataset contains 36275 rows and 19 columns.

In [8]:
# Displaying all the column names
print("Column names:", df.columns.tolist())

Column names: ['ID', 'n_adults', 'n_children', 'weekend_nights', 'week_nights', 'meal_plan', 'car_parking_space', 'room_type', 'lead_time', 'year', 'month', 'date', 'market_segment', 'repeated_guest', 'previous_cancellations', 'previous_bookings_not_canceled', 'avg_room_price', 'special_requests', 'status']

In [9]:
# Displaying the data types of each column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36275 entries, 0 to 36274
Data columns (total 19 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ID                              36275 non-null  object
 1   n_adults                        36275 non-null  int64
 2   n_children                      36275 non-null  int64
 3   weekend_nights                  36275 non-null  int64
 4   week_nights                     36275 non-null  int64
 5   meal_plan                       36275 non-null  object
 6   car_parking_space               36275 non-null  int64
 7   room_type                       36275 non-null  object
 8   lead_time                       36275 non-null  int64
 9   year                            36275 non-null  int64
 10  month                           36275 non-null  int64
 11  date                            36275 non-null  int64
 12  market_segment                  36275 non-null  object
 13  repeated_guest                  36275 non-null  int64
 14  previous_cancellations          36275 non-null  int64
 15  previous_bookings_not_canceled  36275 non-null  int64
 16  avg_room_price                  36275 non-null  float64
 17  special_requests                36275 non-null  int64
 18  status                          36275 non-null  object
dtypes: float64(1), int64(13), object(5)
memory usage: 5.3+ MB

In [10]:
# Displaying basic statistics of the dataset
df.describe()

,n_adults,n_children,weekend_nights,week_nights,car_parking_space,lead_time,year,month,date,repeated_guest,previous_cancellations,previous_bookings_not_canceled,avg_room_price,special_requests
count,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000
mean,1.844962,0.105279,0.810724,2.204300,0.030986,85.232557,2017.820427,7.423653,15.596995,0.025637,0.023349,0.153411,103.423539,0.619655
std,0.518715,0.402648,0.870644,1.410905,0.173281,85.930817,0.383836,3.069894,8.740447,0.158053,0.368331,1.754171,35.089424,0.786236
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2017.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,0.000000,0.000000,1.000000,0.000000,17.000000,2018.000000,5.000000,8.000000,0.000000,0.000000,0.000000,80.300000,0.000000
50%,2.000000,0.000000,1.000000,2.000000,0.000000,57.000000,2018.000000,8.000000,16.000000,0.000000,0.000000,0.000000,99.450000,0.000000
75%,2.000000,0.000000,2.000000,3.000000,0.000000,126.000000,2018.000000,10.000000,23.000000,0.000000,0.000000,0.000000,120.000000,1.000000
max,4.000000,10.000000,7.000000,17.000000,1.000000,443.000000,2018.000000,12.000000,31.000000,1.000000,13.000000,58.000000,540.000000,5.000000

#### Now, since we have reviewed the dataset and understood its basic structure, we can move on to part (b) which is Parsing. 

Based on the dataset info, we can make the following adjustments:
1. Combine the `year`, `month`, and `date` columns into a new `reservation_date` column using the `datetime` format.
2. We will leave the `meal_plan`, `room_type`, `market_segment`, and `status` columns as `object` data types.
3. All other fields are already in appropriate data types (int & float)

In [13]:
# Making temporary columns to store the year, month and date as strings
df['year_str'] = df['year'].astype(str)
df['month_str'] = df['month'].astype(str).str.zfill(2)  # This is to ensure that the month is two digits eg. 02
df['date_str'] = df['date'].astype(str).str.zfill(2)  # This is to ensure that the month is two digits eg. 02

# Display the first few rows to check
df[['year_str', 'month', 'month_str', 'date', 'date_str']].head()

  year_str  month month_str  date date_str
0     2017     10        10     2       02
1     2018     11        11     6       06
2     2018      2        02    28       28
3     2018      5        05    20       20
4     2018      4        04    11       11

In [14]:
# Making the new reservation_date column
df['reservation_date'] = (df['year_str'] + '-' + df['month_str'] + '-' + df['date_str'])
df.head()

,ID,n_adults,n_children,weekend_nights,week_nights,meal_plan,car_parking_space,room_type,lead_time,year,...,repeated_guest,previous_cancellations,previous_bookings_not_canceled,avg_room_price,special_requests,status,reservation_date,year_str,month_str,date_str
0,INN00001,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,...,0,0,0,65.00,0,Not_Canceled,2017-10-02,2017,10,02
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,...,0,0,0,106.68,1,Not_Canceled,2018-11-06,2018,11,06
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,...,0,0,0,60.00,0,Canceled,2018-02-28,2018,02,28
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,...,0,0,0,100.00,0,Canceled,2018-05-20,2018,05,20
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,...,0,0,0,94.50,0,Canceled,2018-04-11,2018,04,11

In [15]:
# Now we can drop the temporary columns
df.drop(['year_str', 'month_str', 'date_str'], axis=1, inplace=True)
df.head()

,ID,n_adults,n_children,weekend_nights,week_nights,meal_plan,car_parking_space,room_type,lead_time,year,month,date,market_segment,repeated_guest,previous_cancellations,previous_bookings_not_canceled,avg_room_price,special_requests,status,reservation_date
0,INN00001,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,Not_Canceled,2017-10-02
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,Not_Canceled,2018-11-06
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,Canceled,2018-02-28
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,Canceled,2018-05-20
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,Canceled,2018-04-11

While parsing the `reservation_date` column, we encountered a `ValueError` when we tried to convert the year, month, and date columns into a proper `datetime` format. After debugging, we realized that we were getting this error due to some rows having the date as the 29th of February in the year 2018, which is not a leap year (This caused an error because February in non-leap years only has 28 days).

To resolve this issue, we decided to adjust these rows by setting the date to the 28th of February in 2018. We chose to do this because the number of affected rows was very small and hence this change would not significantly affect the analysis. Through this approach, we did not have to delete those rows and all other fields in that row still remain usable.

In [29]:
invalid_rows = df[(df['month'] == 2) & (df['date'] == 29)]
invalid_rows[['year', 'month', 'date']]

       year  month  date
2626   2018      2    29
3677   2018      2    29
5600   2018      2    29
6343   2018      2    29
7648   2018      2    29
8000   2018      2    29
8989   2018      2    29
9153   2018      2    29
9245   2018      2    29
9664   2018      2    29
9934   2018      2    29
10593  2018      2    29
10652  2018      2    29
10747  2018      2    29
11881  2018      2    29
13958  2018      2    29
14304  2018      2    29
15363  2018      2    29
15438  2018      2    29
17202  2018      2    29
18380  2018      2    29
18534  2018      2    29
18680  2018      2    29
19013  2018      2    29
20419  2018      2    29
21674  2018      2    29
21688  2018      2    29
26108  2018      2    29
27559  2018      2    29
27928  2018      2    29
30552  2018      2    29
30616  2018      2    29
30632  2018      2    29
30839  2018      2    29
32041  2018      2    29
34638  2018      2    29
35481  2018      2    29

In [31]:
# Changing the date to 28th for the invalid rows
df.loc[(df['month'] == 2) & (df['date'] == 29), 'date'] = 28

# Verifying the changes
df[(df['month'] == 2) & (df['date'] == 29)]

Empty DataFrame
Columns: [ID, n_adults, n_children, weekend_nights, week_nights, meal_plan, car_parking_space, room_type, lead_time, year, month, date, market_segment, repeated_guest, previous_cancellations, previous_bookings_not_canceled, avg_room_price, special_requests, status, reservation_date]
Index: []

In [37]:
# Now lets update the reservation_date column to reflect the changes
df['year_str'] = df['year'].astype(str)
df['month_str'] = df['month'].astype(str).str.zfill(2)  # This is to ensure that the month is two digits eg. 02
df['date_str'] = df['date'].astype(str).str.zfill(2)  # This is to ensure that the month is two digits eg. 02
df['reservation_date'] = (df['year_str'] + '-' + df['month_str'] + '-' + df['date_str'])
df.drop(['year_str', 'month_str', 'date_str'], axis=1, inplace=True)

In [39]:
# Now we can convert the reservation_date column to datetime
df['reservation_date'] = pd.to_datetime(df['reservation_date'])
df.info() # To check the data type of the reservation_date column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36275 entries, 0 to 36274
Data columns (total 20 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ID                              36275 non-null  object
 1   n_adults                        36275 non-null  int64
 2   n_children                      36275 non-null  int64
 3   weekend_nights                  36275 non-null  int64
 4   week_nights                     36275 non-null  int64
 5   meal_plan                       36275 non-null  object
 6   car_parking_space               36275 non-null  int64
 7   room_type                       36275 non-null  object
 8   lead_time                       36275 non-null  int64
 9   year                            36275 non-null  int64
 10  month                           36275 non-null  int64
 11  date                            36275 non-null  int64
 12  market_segment                  36275 non-null  object
 13  repeated_guest                  36275 non-null  int64
 14  previous_cancellations          36275 non-null  int64
 15  previous_bookings_not_canceled  36275 non-null  int64
 16  avg_room_price                  36275 non-null  float64
 17  special_requests                36275 non-null  int64
 18  status                          36275 non-null  object
 19  reservation_date                36275 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(13), object(5)
memory usage: 5.5+ MB

#### Now we can move to part (c) which is Organizing

In [41]:
# Checking for missing/null values in the dataset
missing_values = df.isnull().sum()

# Displaying the columns with missing values (if any)
missing_values[missing_values > 0]

Series([], dtype: int64)

We already have the data loaded into a pandas DataFrame. After conducting part (a) and (b) we know that:
- The dataset is free from missing or null values.
- The data is now clean and organized, ready for analysis.

Now we will proceed directly with data exploration and analysis in the next steps.

# Part 2: Basic Data Exploration and Summary Statistics